environment                      = "prod"
location                         = "eastus"
project_name                     = "applibrarykit"
app_service_sku                  = "B2"
storage_account_tier             = "Standard"
storage_account_replication_type = "GRS"
dotnet_runtime_version           = "8.0"
node_runtime_version             = "18"

# These values will be provided via GitHub Actions secrets
# subscription_id  = var from AZURE_SUBSCRIPTION_ID
# client_id       = var from AZURE_CLIENT_ID
# client_secret   = var from AZURE_CLIENT_SECRET
# tenant_id       = var from AZURE_TENANT_ID
